@import url("https://fonts.googleapis.com/css2?family=Butcherman&family=Dancing+Script:wght@600&family=Inter:wght@300;400;500;600;700&family=Lora:wght@500;600&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@400;500;700&display=swap");
@import "./header.css";
@import "./main.css ";

:root {
  --col-orange: #ffa500;
  --col-black1: #333;
  --col-black2: #222;
  --col-white: #fff;
  --col-black3: #444;
  --col-black4: #666;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  font-size: 50%;
  overflow-x: hidden;
}

.container {
  position: relative;
  z-index: 2;
}
